body{
    background-color: #06105f !important;
}

.container{
    background-color: #06105f !important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    border: none !important;
    box-shadow: 0px 0px 5px 5px white;
}

.quiz-card{
    width: 30rem;
}

.question-footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding-top: 12px;
}

.quiz-answer-card:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success, .bg-danger{
    color: white !important;
}

.text-center{
    text-align:center;
}

.final-text{
    font-size: 38px;
    margin-bottom: 24px;
}

#header-img{
    object-fit: cover;
    margin: auto;
}

#progress-bar{
    background-color: rgb(4, 224, 231);
}

.button-row{
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

@media (max-width: 500px){
    .quiz-card{
        height: calc(100vh - 20px) !important;
    }
    #questiontext{
        font-size: 18px;
        text-align: center;
    }
}